# Data Source
# block data source can be ARCHIVEDB (default) or MINAEXPLORER
BLOCK_DATA_SOURCE=ARCHIVEDB
#BLOCK_DATA_SOURCE=MINAEXPLORER

# Pool Configuration
COMMISSION_RATE=.05
POOL_PUBLIC_KEY=B62...
POOL_MEMO="payout from mina-pool-payout"

# payout configuration
# fee for transaction sends
SEND_TRANSACTION_FEE=0.1
# private key to sign payments
# public key to send payments from
SEND_PRIVATE_KEY=B62...
SEND_PUBLIC_KEY=EK...

# Consensus Parameters
MIN_CONFIRMATIONS=290

# Archive database uri
DATABASE_URL=### provide database URL ###

# GraphQL Endpoint
SEND_PAYMENT_GRAPHQL_ENDPOINT=http://mynodeip:3085/graphql
MINAEXPLORER_GRAPHQL_ENDPOINT=https://graphql.minaexplorer.com
